﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Just In Time</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="topnav-wrap">
                <div class="topnav container">
                    <ul>
                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("About", "Index", "Home")
                        @Html.ActionLink("Angajati", "Index", "Angajat")
                        @Html.ActionLink("Backlog", "Index", "Task")
                        @Html.ActionLink("Sprint", "Index", "Sprint")
                        @Html.ActionLink("Grafic", "Index", "Grafic")
                    </ul>
                        <div class="topnav-right">
                                @Html.ActionLink("Log out", "LoginEmployee", "Login")
                        </div>
                </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Just In Time</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>