﻿body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar-inverse {
    background-color: #4CAF50 !important;
    max-width: 1145px;
    margin: 0px auto;
    padding: 0px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.topnav-wrap {
    background-color: #333;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav ul {
    float: left;
    margin: 0;
    padding: 0;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav > ul > a:nth-child(1) {
            background-color: #4CAF50;
            color: white;
        }

.topnav-right {
    float: right;
}